name: Manual staging stop

on:
  workflow_dispatch

jobs:
  Run:
    runs-on: [self-hosted, andy-server]
    steps:
      - name: Stop staging server
        run: |
          docker stop nycmesh-support-bot-test || true